{% extends 'base.html' %}
{% block content %}
<h2>{% block title %} Место по договору # {{ event['number'] }} от {{ event['date'] }} {% endblock %}</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Место</th>
            <td>{{ event['address'] }}</th>
        </tr>
        <tr>
            <td>Цена</th>
            <td>{{ event['price'] }} ₽</th>
        </tr>
        <tr>
            <td>Клиент</th>
            <td>{{ event['name'] }}</th>
        </tr>
        <tr>
            <td>Контакты клиента</th>
            <td>тел.: {{ event['phone_number'] }}, почта: {{ event['email'] }}</th>
        </tr>
        <tr>
            <td>Описание</th>
            <td>{{ event['description'] }}</th>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <a href="/clients">
            <button type="submit" class="btn btn-secondary"><i class="bi-people"></i> Перейти к клиенту</button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('contract', contract_id=event['id_contract']) }}">
            <button type="submit" class="btn btn-secondary"><i class="bi-file-earmark-binary"></i> Перейти к договору</button>
        </a>
    </div>
</div>

{% endblock %}