{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Клиенты {% endblock %}</h1>

<div class="container mt-5 mb-3">
    <div class="row">
        {% for client in clients %}
        <div class="col-md-4">
            <div class="card p-3 mb-2 border-primary">
                <div class="card-header">
                    <a href="{{ url_for('client', client_id=client['id_client']) }}">
                        <b>{{ client['name'] }}</b>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ client['address'] }}</h5>
                    <p class="card-text">ID клиента: {{ client['id_client'] }}</p>
                    <p class="card-text">Email: {{ client['email'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}