{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Информация о клиенте {% endblock %}</h1>

<div class="container mt-5">
    <div class="card border-primary">
        <div class="card-header">
            <h2>{{ client['name'] }}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">ID клиента: {{ client['id_client'] }}</h5>
            <p class="card-text"><strong>Email:</strong> {{ client['email'] }}</p>
            <p class="card-text"><strong>Дополнительная информация:</strong> {{ client['additional_info'] }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('clients') }}" class="btn btn-primary">Назад к списку клиентов</a>
        </div>
    </div>
</div>

{% endblock %}