{% extends 'base.html' %}
{% block content %}
<h2>{% block title %} Договор # {{ contract['number'] }} от {{ contract['date'] }} {% endblock %}</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Цена</th>
            <td>{{ contract['price'] }} ₽</th>
        </tr>
        <tr>
            <td>Клиент</th>
            <td>{{ contract['name'] }}, {{ contract['phone_number'] }}, {{ contract['email'] }}</th>
        </tr>
        <tr>
            <td>Место</th>
            <td>{{ contract['address'] }}, кол-во месяцев {{ contract['people'] }}
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <a href="/clients">
            <button type="submit" class="btn btn-secondary"><i class="bi-people"></i> Перейти к клиенту</button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('event', event_id=contract['id_event']) }}">
            <button type="submit" class="btn btn-secondary"><i class="bi-house"></i> Перейти к месту</button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('generate_contract', id_contract=contract['id_contract']) }}">
            <button type="submit" class="btn btn-primary"><i class="bi-printer"></i> Скачать договор</button>
        </a>
    </div>
</div>

{% endblock %}