{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Добавление нового договора {% endblock %}</h1>
<br>
<form method="post" class="px-4">
    <div class="row mb-3">
        <label for="number-date" class="col-sm-3 col-form-label">Номер</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="number" value="{{ request.form['number'] }}" placeholder="01.01.2024">
        </div>
    </div>
    <div class="row mb-3">
        <label for="number-date" class="col-sm-3 col-form-label">Дата</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="date" value="{{ request.form['date'] }}" placeholder="01.01.2024">
        </div>
    </div>
    <div class="row mb-3">
        <label for="event" class="col-sm-3 col-form-label">Место</label>
        <div class="col-sm-8">
            <select class="form-select" name="event">
                <option value='0'>...</option>
                {% for a in events %}
                    <option value={{a.id_event}}>{{a.address}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="owner" class="col-sm-3 col-form-label">Клиент</label>
        <div class="col-sm-8">
            <select class="form-select" name="owner">
                <option value='0'>Клиент...</option>
                {% for c in clients %}
                    <option value={{c.id_client}}>{{c.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-3 col-form-label">Стоимость</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="price" value="{{ request.form['price'] }}" placeholder="1000">
        </div>
    </div>
    <div class="row mb-3">
        <label for="employee" class="col-sm-3 col-form-label">Менеджер</label>
        <div class="col-sm-8">
            <select class="form-select" name="employee">
                <option value='0'>Работник...</option>
                {% for e in employees %}
                    <option value={{e.id_employee}}>{{e.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi-file-earmark-binary"></i> Добавить договор</button>
</form>

{% endblock %}